.buttonslayout {
    display:flex;
    align-items:center;
}

.introduce{
    text-align:center;
    align-items:center;
    width:250px;
}
.AccountButtonGroup{
    display:flex;
    align-items:center;
}

@media (max-width: 768px) {
    .buttonslayout{
        width:auto;
        justify-content:center;
    }
}