.buttonslayout {
    display:flex;
    justify-content:space-evenly;
    padding-top:1rem;
}

.introduce{
    text-align:center;
    width:200px;
}

@media (max-width: 768px) {
    .buttonslayout{
        width:auto;
        justify-content:center;
    }
}