*{
    box-sizing:border-box;
}
.footpage{
    border: 1px solid #D1D1D6;
    height:30vh;
    display:flex;
}
.footpagecontainer{
    border: 1px solid #D1D1D6;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    justify-content:center;
    gap:1rem;
}
@media (max-width: 768px) {
    .footpage{
      height:auto;
    }
    .footpagecontainer {
        flex-direction: column;
    }
}