*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

.profilecard{
    display:inline-flex;
    border: 1px solid #D1D1D6;
}

.container{
  display:flex;
  margin:0rem 0rem 0rem 1rem;
  gap:1rem;
}

.avatar{
  display:block;
  max-width:45px;
  border-radius:50%;
}
.name {
  font-size: 2rem;           
  text-align: center;
  color:#1C1C1E;
}

.avatar_name{
  display:flex;
  align-items:center;
  justify-content:center;
  max-width:300px;
}

.separator{
  width:2px;
  height:60%;
  background-color:#D1D1D6;
  margin:0 0.5rem;
  transition: height 0.3s ease;
}
.thebutton{
  display:flex;
  align-items:center;
}
.avatar_name:hover .separator{
  height: 0;
}